.btn-prefix {
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        box-shadow: 0px 2px 8px -2px rgba(243, 110, 15, 0.38);
        background-color: #fff;
    }

    &__text {
        margin-left: 10px;
        color: var(--color-accent);
    }

    &:hover {
        transition: .3s;
        cursor: pointer;
        & .btn-prefix__icon {
            background: var(--color-accent);
        }
    }
}