* {
    font-family: 'Roboto', sans-serif;
    color: var(--color-font);
    font-size: 16px;
    font-weight: 400;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

.small-text {
    font-size: 12px;
    font-weight: 500;
}

.svg-parent {
    & .svg path {
        fill: var(--color-accent);
    }
    &:hover .svg path {
        fill: #fff;
    }
}